* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root {
    --color1: rgb(114, 0, 0);
    --color2: rgb(211, 211, 211);
    --white: rgb(255, 255, 255);
}
header {
    padding:25px;
    margin:15px;
    font-size: 10px;
}
/* Styling for timer left countdown */
.countdown {
    text-align: right;
    font-size: 1.5vw;
}
/*Format for the main part of page*/
.page-content {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}
/* Styling for objects inside of page content*/
.question-list-wrapper {
    width: 100%;
    text-align: center;
    padding: 20px;
}
.question {
    font-size: 25px;
}
#discription {
    font-size: 18px;
}
/*styling for button*/
.startbtn {
  outline: none;
  border: none;
  display: inline-block;
  padding: 10px 15px;
  background: var(--color1);
  font-size: 1.2rem;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 3px var(--color2);
  color: var(--white);
}

.startbtn:hover {
  box-shadow: 0 2px var(--color2);
  top: 2px;
}
.startbtn:active {
  box-shadow: 0 0px var(--color2);
  top: 0;
}
.hidden {
    display: none;
}
.questions {
    font-size: 25px;
}
.choices {
    font-size: 15px;
}